header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

  h1 {
    font-family: $font_title;
    font-size: 30px;
    font-weight: 400;
    height: 63px;
    align-content: center;
    color: #101010;

    @include tablet-responsive {
      height: 96px;
    }
  }

  .header__location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 17px;
    height: 63px;
    background-color: #eaeaea;
    color: $color_grey;
    box-shadow: 0px 4px 4px 0px #00000040;

    @include tablet-responsive {
      height: 50px;
      box-shadow: none;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      background-color: #eaeaea;
    }
  }
}

.restaurant__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  .fa-arrow-left {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #353535;
    font-size: 24px;
  }

  h1 {
    flex: 1;
    text-align: center;
  }
}
