.button-like {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: 100;

  .fa-regular {
    cursor: pointer;
    transition: font-weight 0.3s ease, color 0.3s ease;
  }
}

.button-like:hover .fa-regular {
  background: linear-gradient(to top, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
  animation: fillUp 0.3s forwards;
}

@keyframes fillUp {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
