.button-like:hover .fa-regular {
  opacity: 0;
}
.button-like:hover .fa-solid {
  opacity: 1;
}
.button-like {
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: 100;

  .fa-regular,
  .fa-solid {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .fa-regular {
    opacity: 1;
  }

  .fa-solid {
    background: linear-gradient(to top, #ff79da, #9356dc);
    background-clip: text;
    color: transparent;
    opacity: 0;
  }
}
