* {
  font-family: $font_body;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  background-color: white;
  max-width: 1440px;
  margin:0 auto;
}
