/* Fonts */
/* Colors */
/* Responsive */
/* Gradient */
/* Responsive */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  background-color: #f6f6f6;
  max-width: 1440px;
  margin: 0 auto;
}

.custom-button {
  padding: 0 20px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 190px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  align-content: center;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}
.custom-button:hover {
  cursor: pointer;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.button-like:hover .fa-regular {
  opacity: 0;
}

.button-like:hover .fa-solid {
  opacity: 1;
}

.button-like {
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: 100;
}
.button-like .fa-regular,
.button-like .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.button-like .fa-regular {
  opacity: 1;
}
.button-like .fa-solid {
  background: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  opacity: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
  height: 63px;
  align-content: center;
  color: #101010;
}
@media all and (min-width: 768px) {
  header h1 {
    height: 96px;
  }
}
header .header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 17px;
  height: 63px;
  background-color: #eaeaea;
  color: #353535;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
@media all and (min-width: 768px) {
  header .header__location {
    height: 50px;
    box-shadow: none;
  }
}
header .header__location p {
  font-size: 16px;
  font-weight: 500;
  background-color: #eaeaea;
}

.restaurant__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.restaurant__header .fa-arrow-left {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #353535;
  font-size: 24px;
}
.restaurant__header h1 {
  flex: 1;
  text-align: center;
}

.footer {
  padding: 20px;
  background-color: #353535;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 40px;
    padding: 50px 20px 30px;
  }
}
@media all and (min-width: 1024px) {
  .footer {
    justify-content: flex-end;
  }
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 10px;
}
@media all and (min-width: 768px) {
  .footer__logo {
    order: 1;
    margin: 0 40px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}
@media all and (min-width: 1024px) {
  .footer__links {
    flex-direction: row;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}
@media all and (min-width: 1024px) {
  .footer__info {
    flex-direction: row;
  }
}
.footer__link {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__link i {
  width: 18px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
@media all and (min-width: 768px) {
  .introduction {
    padding: 30px 10px;
  }
}
.introduction h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
@media all and (min-width: 768px) {
  .introduction h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.introduction h3 {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  text-align: center;
  margin-bottom: 30px;
}

.functioning {
  padding: 50px 20px 70px 30px;
  background-color: white;
}
@media all and (min-width: 768px) {
  .functioning {
    padding: 50px 50px 70px;
  }
}
@media all and (min-width: 1024px) {
  .functioning {
    padding: 50px 180px 70px 180px;
  }
}
.functioning h2 {
  font-size: 24px;
  font-weight: 700;
  background-color: white;
  margin-bottom: 30px;
}
.functioning__buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: white;
}
@media all and (min-width: 768px) {
  .functioning__buttons {
    flex-direction: row;
    gap: 35px;
  }
}
.functioning__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
}
.functioning__button__number {
  position: absolute;
  transform: translate(-32px, 0);
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #9356dc;
  align-content: center;
  text-align: center;
}
.functioning__button i {
  color: #7e7e7e;
  font-size: 24px;
  margin-left: 15px;
}
.functioning__button .purple {
  color: #9356dc;
}
.functioning__button h3 {
  font-size: 16px;
  font-weight: 500;
  margin-left: 15px;
}

.restaurants {
  padding: 50px 20px 70px;
}
.restaurants h2 {
  margin-bottom: 20px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.restaurants__cards .card-menu {
  border-radius: 20px;
  background-color: white;
  position: relative;
}
@media all and (min-width: 768px) {
  .restaurants__cards .card-menu {
    width: 45%;
  }
}
.restaurants__cards .card-menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants__cards .card-menu__new {
  position: absolute;
  top: 13px;
  right: 13px;
  align-content: center;
  text-align: center;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99e2d0;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.restaurants__cards .card-menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.restaurants__cards .card-menu__content h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurants__cards .card-menu__content h4 {
  font-size: 17px;
  font-weight: 300;
}
@media all and (min-width: 768px) {
  .restaurants__cards {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media all and (min-width: 768px) {
  .restaurants {
    padding: 50px 180px 70px 180px;
  }
}

.restaurant {
  position: relative;
  background-color: white;
}
.restaurant__picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
}
@media all and (min-width: 1024px) {
  .restaurant__picture img {
    height: 380px;
  }
}
.restaurant__menu {
  position: relative;
  top: -40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #f6f6f6;
  padding: 30px 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
@media all and (min-width: 1024px) {
  .restaurant__menu {
    margin: 0 190px;
  }
}
.restaurant__menu__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
@media all and (min-width: 768px) {
  .restaurant__menu__title {
    justify-content: center;
    gap: 20px;
  }
}
.restaurant__menu__title h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  margin-right: 20px;
}
.restaurant__menu__dishes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media all and (min-width: 1280px) {
  .restaurant__menu__dishes {
    margin: 0 190px;
  }
}
.restaurant__menu__dishes h3 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.restaurant__menu__dishes .underline {
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}
.restaurant__menu__dishes .dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  padding: 0 20px;
  gap: 5px;
}
.restaurant__menu__dishes .dish h4 {
  font-size: 18px;
  font-weight: 500;
}
.restaurant__menu__dishes .dish h5 {
  font-weight: 300;
  font-size: 15px;
}
.restaurant__menu__dishes .dish__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant__menu__dishes .dish__description p {
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}
.restaurant__menu .dish__order {
  text-align: center;
}/*# sourceMappingURL=main.css.map */