.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: $color_background;

  @include tablet-responsive {
    padding: 30px 10px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;

    @include tablet-responsive {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 300;
    color: $color_grey;
    text-align: center;
    margin-bottom: 30px;
  }
}

.functioning {
  padding: 50px 20px 70px 30px;
  background-color: white;

  @include desktop-responsive {
    padding: 50px 50px 70px;
  }

  @include large-desktop-responsive {
    padding: 50px 180px 70px 180px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    background-color: white;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;

    @include desktop-responsive {
      flex-direction: row;
      gap: 35px;
    }
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 0 20px;
    border-radius: 20px;
    background-color: $color_background;
    box-shadow: 0px 4px 15px 0px #00000026;
    position: relative;

    &__number {
      position: absolute;
      transform: translate(-32px, 0);
      color: white;
      font-size: 14px;
      font-weight: 500;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background-color: $color_purple;
      align-content: center;
      text-align: center;
    }

    i {
      color: #7e7e7e;
      font-size: 24px;
      margin-left: 15px;
    }
    .purple {
      color: $color_purple;
    }

    h3 {
      font-size: 16px;
      font-weight: 500;
      margin-left: 15px;
    }
  }
}

.restaurants {
  padding: 50px 20px 70px;
  background-color: $color_background;

  @include desktop-responsive {
    padding: 50px 180px 30px;
  }

  h2 {
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet-responsive {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    @include desktop-responsive {
      gap: 50px;
    }

    .card-menu {
      border-radius: 20px;
      background-color: white;
      position: relative;

      @include tablet-responsive {
        width: 48%;
      }
      @include desktop-responsive {
        width: 45%;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }

      &__new {
        position: absolute;
        top: 13px;
        right: 13px;
        align-content: center;
        text-align: center;
        width: 80px;
        height: 30px;
        border-radius: 2px;
        background-color: $color_lightGreen;
        font-size: 14px;
        font-weight: 500;
        color: $color_darkGreen;
        box-shadow: 0px 2px 4px 0px #00000026;
      }

      &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        h3 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 5px;
        }

        h4 {
          font-size: 17px;
          font-weight: 300;
        }
      }
    }
  }
}
