.restaurant {
  background-color: white;

  &__picture img {
    object-fit: cover;
    width: 100%;
    height: 275px;

    /* Responsive */
    @include desktop-responsive {
      height: 380px;
    }
  }

  &__menu {
    position: relative;
    z-index: 1;
    margin-top: -40px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: $color_background;
    padding: 30px 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    /* Responsive */
    @include desktop-responsive {
      margin: -40px 190px 0;
    }

    &__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 20px;

      /* Responsive */
      @include tablet-responsive {
        justify-content: center;
        gap: 20px;
      }

      h2 {
        font-family: $font_title;
        font-size: 28px;
        font-weight: 400;
        font-style: italic;
        margin-right: 20px;
      }
    }
    &__dishes {
      display: flex;
      flex-direction: column;
      gap: 10px;

      /* Animation */
      @include fadeIn();
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: calc(0.5s * (#{$i} - 1));
        }
      }

      /* Responsive */
      @include large-desktop-responsive {
        margin: 0 190px;
      }

      h3 {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
      }

      .underline {
        width: 40px;
        border-bottom: 3px solid $color_lightGreen;
      }

      .dish {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        height: 70px;
        border-radius: 15px;
        background-color: white;
        gap: 5px;

        &:hover .dish__right {
          margin-right: 0;
        }

        &__description {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          overflow: hidden;

          gap: 5px;
          margin-left: 20px;

          h4 {
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            margin-right: 20px;
            white-space: nowrap;
            overflow: hidden;

            text-overflow: ellipsis;
          }

          h5 {
            width: 100%;
            font-size: 15px;
            font-weight: 300;
            margin-right: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &__right {
          display: flex;
          flex-direction: row;
          margin-right: -60px;
          transition: margin-right 0.3s ease;
        }

        &__price {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 10px 15px;

          p {
            font-size: 15px;
            font-weight: 700;
            color: $color_grey;
          }
        }

        &__checkbox {
          width: 60px;
          height: 100%;

          align-content: center;
          text-align: center;
          font-size: 20px;
          background-color: $color_lightGreen;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;

          .fa-circle-check {
            background-color: white;
            background-clip: text;
            color: transparent;
            cursor: pointer;
          }
        }
      }
    }
    .dish__order {
      text-align: center;
    }
  }
}
