/* Gradient */
@mixin gradient {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}

/* Responsive */
@mixin tablet-responsive {
  @media all and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}
@mixin desktop-responsive {
  @media all and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
@mixin large-desktop-responsive {
  @media all and (min-width: map-get($breakpoints, large-desktop)) {
    @content;
  }
}

/* Animations */
@mixin fadeIn($duration: 0.5s, $translateY: 20px) {
  opacity: 0;
  animation: fadeIn $duration forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY($translateY);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
